<html>
  <head>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(document).ready(() => {
        var cnt = {{ likes }};
        $('#buy').click(function(){
          var trigger = document.getElementById('buy'),
          modal = document.getElementById('click');
          trigger.addEventListener('click', function(e){
     if (modal.style.display == 'block'){
          modal.style.display = 'none';
     }else{
          modal.style.display = 'block';
     }
}, true);
          });
          $("#myid").click(function() { 
          document.getElementById("myid").style.color = "{{color2}}";
          if (cnt < {{ likes }} +1 && document.getElementById("myid").style.color == "blue") {
            cnt = cnt + 1;
            document.getElementById("likeid").value = cnt
            var para = document.getElementById("like");
            para.innerHTML = "LIKES :" + cnt;
            para.style.bold;
            document.getElementById("status").value=document.getElementById("myid").style.color;
            document.getElementById("myid").style.color = "{{color2}}";
          } else if(cnt >={{ likes }} +1 && document.getElementById("myid").style.color == "blue") {
              cnt = cnt - 1;
              var para = document.getElementById("like");
              para.innerHTML = "LIKES :" + cnt;
              para.style.bold;
              document.getElementById("likeid").value = cnt
              document.getElementById("myid").style.color = "{{color1}}";
              document.getElementById("status").value=document.getElementById("myid").style.color;
          } else if(cnt == {{ likes }}  && document.getElementById("myid").style.color == "black") {
            cnt = cnt - 1;
            var para = document.getElementById("like");
            para.innerHTML = "LIKES :" + cnt;
            para.style.bold;
            document.getElementById("likeid").value = cnt;
            document.getElementById("status").value=document.getElementById("myid").style.color;
            document.getElementById("myid").style.color = "{{color2}}";
          } else if(cnt >={{ likes }}-1  &&document.getElementById("myid").style.color == "black"){
            cnt = cnt + 1;
            document.getElementById("likeid").value = cnt
            var para = document.getElementById("like");
            para.innerHTML = "LIKES :" + cnt;
            para.style.bold;
            document.getElementById("myid").style.color = "{{color1}}";
            document.getElementById("status").value=document.getElementById("myid").style.color;
          }
      
      $.ajax({
        type: "POST",
        url: "/likes?likes={{likes}}&username={{username}}",
        data: {
          //'id':"dghjkj"
          'id': "{{eventId}}",
          'like':$('#likeid').val(),
          'userName': "{{username}}",
          'eventName': "{{eventName}}",
          'status': $('#status').val(),
        
        },
        success : function(response) {
          console.log("succeeded!!!"+response);
        }

      })
      }); 
 });
 
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body{
      background-color:thistle;
    }
    .fa {
      font-size: 60px;

        {
          {
           !-- cursor: pointer;
          --
        }
      }

        {
          {
           !-- user-select: ;
          --
        }
      }
    }

    .fa:hover {
      color: darkblue;
    }


    h1 {
      text-align: center;
      color: blue;
    }

    h3 {
      text-align: center;
      color: brown;
    }

    i {
      position: absolute;
      top: 330px;
      left: -740px;

      color: {
          {
          color1
        }
      }
    }

    p {
      font-size: 25px;
      position: relative;
      top: 320px;
      left: -900px;
    }

    .color-change {
      color: {{color2}} ;
    }
    #likestatus{
      color:darkblue;
      background-color: hotpink;
      position: absolute;
      left:280px;
      top:600px;
      width:100px;
      height: 40px;
    }
    #comments{
      color: darkmagenta;
      background-color: darksalmon;
      width:100px;
      height: 60px;
      position: absolute;
      right:60px;
      top:60px;

      
    }
    #buy{
position: absolute;
top:70px;
right: 180px;
width: 150px;
height: 50px;
background-color:skyblue;
border-radius: 20px;
text-align: center;
padding:10px
    }
    #btn{
      position: absolute;
      top:70px;
      left:50px;
    }
  </style>

</head>

<body>
  <h1>DESCRIPTION ABOUT THE EVENT</h1>
  
  <h3 style="text-align: center;color:mediumvioletred;padding-top:80px;padding-bottom:90px;">{{description}}</h3>
  <a href="/buyTicket?username={{username}}&description={{description}}&status={{status}}&id={{eventId}}&eventname={{eventName}}&cost={{cost}}&bookingStartTime={{eventStart}}&bookingEndTime={{eventEnd}}&likes={{likes}}&description={{description}}&tickets={{tickets}}"  style="text-decoration: none;"><button id="buy">BUY TICKET</buttonid="buy"></a>
  <strong>
    <p id="like">LIKES :{{likes}}</p>
  </strong>
  <input type="hidden" name="status" value="" id="status" />
  <i  class="fa fa-thumbs-up" id="myid" style="color: {{color1}};"></i>
  <input type="hidden" name="like" value="{{likes}}" id="likeid" />
  <a  id="btn"href="/loginpage?status={{status}}&username={{username}}&id={{eventId}}&eventname={{eventName}}&cost={{cost}}&bookingStartTime={{eventStart}}&bokingEndTime={{eventEnd}}&likes={{likes}}&description={{description}}"><button type="button" class="btn btn-warning">PREVIOUS</button></a>
  <a href="/commentsview?status={{status}}&description={{description}}&username={{username}}&eventname={{eventName}}&eventid={{eventId}}&cost={{cost}}&bookingStartTime={{eventStart}}&bookingEndTime={{eventEnd}}&likes={{likes}}&description={{description}}&tickets={{tickets}}"><button id="comments">VIEW COMMENTS</button></a>
</body>
</html>